{
	"parser": "babel-eslint",
	"extends": "react",
	"env": {
		"browser": true,
		"node": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"comma-dangle": [
			"error",
			{
				"arrays": "ignore",
				"objects": "ignore",
				"imports": "never",
				"exports": "never",
				"functions": "never"
			}
		],
		"indent": "off",
		"space-before-function-paren": [
			"error",
			{
				"anonymous": "ignore",
				"named": "ignore",
				"asyncArrow": "always"
			}
		]
	}
}
